body{
  margin:0;
  padding:0;
  background-color: #1A1A1A;
  
}

header{
  width:100%;
  height: 70px;
  background-color: #1A5AAC;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #0e2957;
  padding: 1em;
  margin: 0;

}

h1{
  position:absolute;
  padding: 0px;
  float: left;
  margin-left: 10%;
  margin-top: 100px;
  font-family: 'Roboto', cursive;
  color:white;
  
  
}
h2{
  position:absolute;
  padding: 0px;
  float: left;
  margin-left: 42%;
  margin-top: 100px;
  font-family: 'Roboto', cursive;
  color:white;
  font-size: 250%;
  
}

.link{
  
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2vw;
}

.link:hover, .link:focus {
  color: #1A5AAC
}

@media (min-width: 1000px) {
  .navbar {
      flex-direction: row;
      justify-content: space-around;
  }
}