body{
  margin:0;
  padding:0;
  background-color: #1A1A1A;
  
}

header{
  width:100%;
  height: 70px;
  background-color: #1A5AAC;
}

button{
  text-align: left;
  vertical-align: middle;
  font-size: 1.5rem;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #1A5AAC;
  padding: 2em;
  margin: 0;
}

#three-col-grid {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(4, 200px);
}

#two-col-grid {
  vertical-align: middle;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 600px;
}

div.cell {
  color:#ffffff;
  padding: 0.5em;
}

h1.cellbig {
  color: #ffffff;
  padding: 0.5em;
  font-size: 2.5em;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  vertical-align: middle;
}

h1.cellsmall {
  color: #ffffff;
  font-size: 1.75em;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

h1.WhyRent{
  margin-top: 3em;
  text-align: center;
  font-family: 'Roboto', cursive;
  font-size: 4em;
  color:white; 
}

h2{
  position:absolute;
  padding: 0px;
  float: left;
  margin-left: 42%;
  margin-top: 100px;
  font-family: 'Roboto', cursive;
  color:white;
  font-size: 250%;
  
}

span{
  color:#5B86DE;
}

ul{
  width: auto;
  float: right;
  margin-top: 8px;
}

li{
  display: inline-block;
  padding: 15px 30px;
}

a.navbarlinks{
  
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5vw;
}

a:hover{
  color:#F28416;
  transition: 0.5s;
}

a.search{
  background: white;
  color: #1A1A1A;
  border: #ffffff, 1em;
}

a.search:hover{
  color: #F28416;
  transition: 0.5s;
}

img{
  width:10%;
  margin-top: -1px;
}

p1{
  position:absolute;
  padding: 0px;
  float: left;
  margin-left: 10%;
  margin-top: 145px;
  font-family: 'Roboto', lighter;
  color:white;
  
}

img.WhyRentIcon{
  width: 200px;
  height: 200px;
  text-align: center;
  vertical-align: middle;
}

img.search{
  height: 1em;
  width: 1em;
}

.logo {
  float: top;
  padding: 10px 0;
}

.LandingIllustration {
  width: 750px;
  height: 500px;
  padding: 50px;
}

@media (min-width: 1000px) {
  .navbar {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (max-width: 1000px) {
  #three-col-grid {
    grid-template-columns: 100%;
  }
  #two-col-grid {
    grid-template-columns: 100%;
  }
}